body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: darkviolet;
    color: white;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    margin: 0 15px;
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: papayawhip;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkviolet;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}
